/* Add CSS Styling */
.odd {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.odd.but-cooler {
    font-size: 24px;
}

#no-1 {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

#no-2{
    background-color: rgb(0,245,0);
    font-size: 24px;
    font-weight: bold;
}