/* Add CSS Styling */
.clickable, 
.not-clickable {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.clickable{
    background-color: black;
    color: white;
}

.not-clickable{
    background-color: yellow;
}