body {
  background: #eee;
  font-family: sans-serif;
}
* {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
}
.card {
  padding: 20px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  padding-left: 100px;
  background: #e3f4ff;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
}